body {
  background-image: url(./gorsel/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(2px);
}

.container{
  padding-top:100px;
}

.intro-card {
  background-color:   #ebf1ff  ;
  padding-top: 30px;
  max-width: 80%;
  min-width: 350pxİ
  
}

.logo {
  width: 120px
}

.btn-success{
  margin: 25px;
  padding: 20px 30px;
  font-size: 24px;
}

.btn-danger{
  margin: 25px;
  padding: 14px 46px;
  font-size: 24px;
}